<Container Title="Education">
    <KeyValueContainer>
        <div class="flex-row table full-w">
            <div class="flex-col table-col">
                <KeyValue Key="Date" Value="2006 to 2012" />
                <KeyValue Key="Location" Value="Kastoria, GR" />
            </div>
        </div>
        <Description>
            <ol>
                <li>Department of Informatics and Computer Technology,</li>
                <li>Technological Education Institute of West Macedonia, Kastoria (Greece)</li>
            </ol>
        </Description>
    </KeyValueContainer>
</Container>