<KeyValueContainer>
    <div class="flex-row table full-w">
        <div class="flex-col table-col">
            <KeyValue Key="Role" Value="C# Developer" />
            <KeyValue Key="Company" Value="EmDot S.A." />
        </div>
        <div class="flex-col table-col">
            <KeyValue Key="Date" Value="12/2019 to present" />
            <KeyValue Key="Location" Value="Athens, GR" />
        </div>
    </div>
    <Description>
        Assist in the maintenance, development and evolvement of IoT related
        APIs, in the fields of waste
        management and roadside assistance.
    </Description>
</KeyValueContainer>