<KeyValueContainer>
    <div class="flex-row table full-w">
        <div class="flex-col table-col">
            <KeyValue Key="Role" Value="C# Developer" />
            <KeyValue Key="Company" Value="Trigonal Ltd" />
        </div>
        <div class="flex-col table-col">
            <KeyValue Key="Date" Value="03/2015 to 03/2018" />
            <KeyValue Key="Location" Value="London, UK" />
        </div>
    </div>
    <Description>
        <ol>
            <li>Delivered solid software solutions for the shipbroking industry.</li>
            <li>Designed and implemented C# windows applications.</li>
            <li>
                Developed integration services/daemons using various APIs, ranging from mere vessel tracking
                up to more elaborate systems like XLedger ERP.
            </li>
            <li>
                Refactored and maintained legacy system and involved in migrating parts of it to a next
                generation
                system in .Net.
            </li>
            <li>
                Set up monitoring infrastructure system using Bosun and Docker hosted on an Azure Linux
                server.
            </li>
        </ol>
    </Description>
</KeyValueContainer>