<KeyValueContainer>
    <div class="flex-row table full-w">
        <div class="flex-col table-col">
            <KeyValue Key="Role" Value="Delphi Developer" />
            <KeyValue Key="Company" Value="Altec S.A." />
        </div>
        <div class="flex-col table-col">
            <KeyValue Key="Date" Value="11/2010 to 04/2011" />
            <KeyValue Key="Location" Value="Thessaloniki, GR" />
        </div>
    </div>
    <Description>
        <ol>
            <li>My academic internship was fulfilled in Altec Software, where my main task involved the maintenance of an E.R.P.</li>
        </ol>
    </Description>
</KeyValueContainer>