@using BlazorCV.Shared.ActionButtons

<div class="name-header-wrapper">
    <div class="name-header">@ChildContent</div>

    <div class="action-buttons-wrapper flex-row">
        <DownloadCvButton />
        <Tooltip Text="https://github.com/NickKarlaftis">
            <GitHubButton Url="https://github.com/NickKarlaftis" />
        </Tooltip>
        <Tooltip Text="NikoKarlS3@gmail.com">
            <EmailButton Email="NikoKarlS3@gmail.com" />
        </Tooltip>
        <Tooltip Text="https://www.linkedin.com/in/nikos-karlaftis-4829989b">
            <LinkedInButton Url="https://www.linkedin.com/in/nikos-karlaftis-4829989b" />
        </Tooltip>
    </div>
</div>

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
