@inherits LayoutComponentBase

<div class="grid-wrapper main-container ">
    <div class="box right-wrapper customized-scrollbar-invert">
        <div class="main-cv-wrapper">
            <Header>Nikos Karlaftis</Header>

            @Body
        </div>
    </div>
    <Avatar/>
</div>