<Container Title="National Service">
    <KeyValueContainer>
        <div class="flex-row table full-w">
            <div class="flex-col table-col">
                <KeyValue Key="Date" Value="2018 to 2019" />
                <KeyValue Key="Military" Value="Hellenic Armed Forces" />
            </div>
        </div>
        <Description>
            <ol>
                <li>Served in the Signals Arm as operator of digital terminal devices and cryptographic machines.</li>
            </ol>
        </Description>
    </KeyValueContainer>
</Container>